@model X.PagedList.IPagedList<WebDienTu.Models.DanhMuc>
@using X.PagedList.Mvc.Core;

@{
    ViewData["Title"] = "Danh Mục";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<h1>Danh Mục</h1>

<p>
    <a class="btn btn-primary" asp-action="Create">+ Thêm mới</a>
</p>

<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model => model[0].TenDanhMuc)</th>
            <th>@Html.DisplayNameFor(model => model[0].MoTa)</th>
            <th style="width: 200px;">Thao tác</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.TenDanhMuc</td>
                <td>@item.MoTa</td>
                <td>
                    <a class="btn btn-sm btn-warning" asp-action="Edit" asp-route-id="@item.MaDanhMuc">Sửa</a>
                    <a class="btn btn-sm btn-info" asp-action="Details" asp-route-id="@item.MaDanhMuc">Chi tiết</a>
                    <a class="btn btn-sm btn-danger" asp-action="Delete" asp-route-id="@item.MaDanhMuc">Xóa</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<div class="d-flex justify-content-center">
    @Html.PagedListPager(
    Model,
    page => Url.Action("Index", new { page }),
        new PagedListRenderOptions
        {
            DisplayLinkToFirstPage = PagedListDisplayMode.Always,
            DisplayLinkToLastPage = PagedListDisplayMode.Always,
            DisplayLinkToPreviousPage = PagedListDisplayMode.Always,
            DisplayLinkToNextPage = PagedListDisplayMode.Always,
            UlElementClasses = new[] { "pagination" },
            LiElementClasses = new[] { "page-item" },
            PageClasses = new[] { "page-link" }
        }
        )
</div>
